<div class="d-flex p-2 align-items-stretch" id="landing-rectangle-header">
  <div class="align-self-center flex-grow-1 d-flex flex-column align-items-center" id="header-item-1">
    <h1 >Hacé tu pedido con un <br/>
      click!</h1>
    <button type="button" class="btn btn-light" id="order-button">
      <% if current_user %>
        <%= link_to "Pedí ahora", stores_path, class:"nav-link active" %>
      <% else %>
        <%= link_to "Pedí ahora", new_session_path(User), class:"nav-link active" %>
      <% end %></button>
  </div>
  <% unless browser.device.mobile? %>
    <%= image_tag "pizza.jpg", id: "header-item-2" %>
  <% end %>
</div>
<br>
<div class="d-flex justify-content-center">
  <% @stores = Store.all.sample(3).each do |store| %>
    <div class="card mb-3" style=";">
      <div class="row g-0">
        <div class="col-md-4">
          <% if store.url %>
            <%= image_tag store.url, class: "img-fluid", id: "header-item-2" %>
          <% end %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= store.name%></h5>
            <h5 class="card-title"></h5>
            <p class="card-text"><%= store.foods.sample(3).map(&:name).join(", ") %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="bg-dark" style="width:100%;height: 8rem;" id="footer">
  
     <div class="">
        <i class="bi bi-instagram" style="color:#fff;"></i>
        <i class="bi bi-facebook" style="color:#fff;"></i>  
        <i class="bi bi-twitter" style="color:#fff;"></i>
    </div>
    
</div>
