<header>

  <div class="d-flex flex-column-reverse flex-md-row align-items-center justify-content-center p-4">
    <div class="d-flex flex-column justify-content-center align-items-center m-4 w-75 w-md-25">
      <h1 class="fw-bolder text-dark text-md-start">¡Hacé tu pedido con <span class="click" id="click">un click!</span></h1>
      <h5 class="text-secondary text-md-start text">No te quedes con el antojo, elegí lo que más te guste y te lo llevamos volando </h5>
      <button class="btn btn-success p-2 w-50 w-lg-100 m-4 text-nowrap fw-bolder" type="button" >
        <% if current_user %>
          <% if current_user.location_id.present? %>
            <%= link_to "Pedí ahora", "stores", class: "nav-link active"%>
          <% else %>
            <%= link_to "Pedí ahora", "locations#index", class: "nav-link active"%>
          <% end %>
        <% else %>
          <%= link_to "Pedí ahora", new_session_path(User), class:"nav-link active" %>
        <% end %>
      </button>
    </div>
    <%# -------Imagen del header responsive%>
    <div class="container-fluid d-flex justify-content-center p-md-4">
      <img src="assets/pizza.jpg" class="w-100 w-md-25 h-md-25" id="img">
    </div>
  </div>
</header>


<section>

    <%# -------ONBOARDING DE COMO USAR LA WEB%>
    <div class="d-flex align-items-center text-center justify-content-center"><h3 class="fw-semibold text fs-6 mb-4 align-self-center" style="color:#11A87B;padding: 10px;">COMO FUNCIONA</h3>
    </div>

    <div class="d-flex flex-column flex-md-row" style="margin-left:2rem; margin-bottom:6rem">
      
      <img src="/assets/deliver.png" style="max-width: 600px;border-radius: 10px;">
      <div class="d-flex flex-wrap flex-column" style="margin-left:4px">
       <p class="fw-semibold"><i class="bi bi-check2-circle fw-bold fs-2" style="color:#0081A7;margin-right: 6px;"></i>Logueate e ingresá tu dirección</p>
        <p class="fw-semibold"><i class="bi bi-check2-circle fw-bold fs-2" style="color:#0081A7;margin-right: 6px;"></i>Elegí tus locales favoritos</p>
         <p class="fw-semibold"><i class="bi bi-check2-circle fw-bold fs-2" style="color:#0081A7;margin-right: 6px;"></i>Agregá varias comidas a tu orden</p>
          <p class="fw-semibold"><i class="bi bi-check2-circle fw-bold fs-2" style="color:#0081A7;margin-right: 6px;"></i> Y listo ¡te lo llevamos al precio de un envío!</p>

         <h4 class="fw-bold p-4 m-2 fs-2" style="color:#F07167">¡SI! Yendo todo en el mismo viaje</h6>

      </div>
      
    </div>

</section>

<section>

    <div class="d-flex align-items-center text-center justify-content-center"><h3 class="fw-semibold text fs-6 mb-4 align-self-center" style="color:#11A87B;">POPULARES</h3>
    </div>

 
    <div class="mt-4 mb-4 p-4 d-flex flex-column flex-md-row justify-content-around">

      <% @stores = Store.all.sample(3).each do |store| %>
        <div class="card m-1 d-flex flex-column align-items-center justify-content-center" >
          <div class="p-2 d-flex flex-column align-items-center justify-content-center">
            <div class="">
              <% if store.url %>
                <%= image_tag store.url, style:"max-width:10rem", id: "header-item-2" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h5 class="card-title"><%= store.name%></h5>
                <p class="card-text"><%= store.foods.sample(3).map(&:name).join(", ") %></p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>



</section>



<section>
    <div class="d-flex flex-column ">  
    <h3 class="fw-semibold text fs-6 mb-4 align-self-center" style="color:#11A87B;">¿POR QUÉ NOSOTROS?</h3>

      <div class="d-flex flex-column flex-md-row justify-content-evenly">
       
        <div class="d-flex flex-column align-items-center justify-content-center m-4 p-2">
          <div class="d-flex align-items-center justify-content-center" style="width:100px;height: 100px;border-radius: 100px;background: #F07167"><i class="bi bi-patch-check" style="font-size: 2rem;color: white;"></i></div>
          <h4 class="fw-bold m-2">Ahorrá en envíos</h4>
          <p>Más de un local, un sólo envío</p>
        </div>

         <div class="d-flex flex-column align-items-center justify-content-center m-4 p-2">
          <div class="d-flex align-items-center justify-content-center" style="width:100px;height: 100px;border-radius: 100px;background: #F07167"><i class="bi bi-shop" style="font-size: 2rem;color: white;"></i> </div>    
          <h4 class="fw-bold m-2">Mejores ofertas</h4>
          <p>Descuentos y promociones</p>
        </div>

         <div class="d-flex flex-column align-items-center justify-content-center m-4 p-2">
          <div class="d-flex align-items-center justify-content-center" style="width:100px;height: 100px;border-radius: 100px;background: #F07167;"><i class="bi bi-card-checklist" style="font-size: 2rem;color: white;"></i></div>
          <h4 class="fw-bold m-2">Fácil de usar</h4>
          <p>Pedí lo que quieras en simples pasos</p>
        </div>

      </div>

      
    </div>
</section>

<section>
    <div class="w-100 h-75" id="burguer-container">  
      <img src="/assets/landing-burguer" class="w-100 h-100 mb-4">
    </div>
</section>


<section>

  <div class="d-flex flex-column align-items-center justify-content-evenly" >

    <div class="d-flex justify-content-evenly align-items-center m-4 w-100" style="height:300px">
      <p class="d-flex flex-column p-2 text-center " style="color:#0081A7"><span class="fw-bolder text fs-1">+1000 </span>pedidos entregados</p>
      <p class="d-flex flex-column p-2 text-center" style="color:#0081A7"><span class="fw-bolder text fs-1">+1000 </span>locales adheridos</p>
      <p class="d-flex flex-column p-2 text-center" style="color:#0081A7"><span class="fw-bolder text fs-1"> 13 </span>países alcanzados</p>
    </div>

    
  </div>
  
</section>




<style >
  #img{
    border-radius: 20px;
    padding: 2re;
  }

  #burguer-container{
    overflow: hidden;
    max-height: 700px;
    margin-top: 20px;
  }

  h1{
    font-size: 3rem;
    margin-bottom: 2rem;
  }
</style>
