<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid" id="contenedor-menu">
    <a class="navbar-brand" href="#">
      <button class="btn btn-default" onclick="window.location.href='/'" >
        <img src="/assets/logo-md-transp.png">
      </button>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <% if current_user %>
            <%= link_to "Cerrar sesión", sign_out_path, class:"nav-link icon fw-bold" %>
          <% else %>
            <%= link_to "Iniciar sesión", new_session_path(User), class:"nav-link icon fw-bold" %>
          <% end %>
        </li>
      </ul>
      <%= form_tag(stores_path, method: :get, class: 'form-inline' ) do %>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
          <%= text_field_tag(:search, params[:search], class: 'form-control', placeholder: "Buscá local o comida") %>
          <%= submit_tag ("Search") , class: 'btn btn-outline-success' %>
        </div>
      <% end %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to get_location, locations_path, class:"nav-link icon bi bi-geo-alt" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="profile"><i class="bi bi-person icon text fs-5"></i></a>
        </li>
        <li class="nav-item">
          <%= link_to "Carrito", shopping_cart_path, class:"bi bi-cart icon text fs-5" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
