<section>

  <div class="p-4 m-4">
    <h2 class="fw-bold fs-1">Tu pedido</h2>
        
        <div class="d-flex flex-column">

          <% @shopping_cart.line_items.each do |item| %>
            <div class="text fs-4 d-flex "><%= item.food.name %> </div>
            <div class="d-flex justify-content-between w-50"><p class="text-secondary">Precio por unidad: </p><%= number_to_currency(item.food.price) %></div>
            <div class="d-flex justify-content-between w-50"><p class="text-secondary">Cantidad: </p><%= item.quantity %></div>
            <div class="fw-bold d-flex justify-content-between w-50" style="color:#F07167"><p>Subtotal: </p><%= number_to_currency(item.food.price * item.quantity) %></div>

            <div style="margin-bottom:4rem">
                  <%= form_with(url: remove_food_from_shopping_cart_path(item.food.id), method: :post) do |form| %>
                    <%= form.number_field :quantity, value: 1, min: 1,style:"max-width:40px" %>
                    <%= form.submit "Quitar",class:"btn btn-dark btn-sm text-light" %>
                  <% end %>
            </div>

          <% end %>
        </div>

        <div class="checkout-btn"></div>
        <p> El preference id es <%= @preference_id %> </p>
<%#              
              TODO Lo de incluir el js de mercadopago no esta andando, 
              si anduviera bien la linea esta se podria comentar y deberia andar ok %>
        <script src="https://sdk.mercadopago.com/js/v2"></script>
        <script>
            const mp = new MercadoPago('TEST-21a4a1ad-cddb-4363-9e9f-1a4c4ecc5d20', {
                locale: 'es-AR'
            })
            const checkout = mp.checkout({
                preference: {
                    id: '<%= @preference_id %>'
                    
                }
                
            });
            checkout.render({
                container: '.checkout-btn',
                label: 'Pagar con Mercado Pago'
            });
        </script>

    <div class="d-flex flex-column flex-md-row justify-content-between w-75" style="margin-top:2rem">
      <h6 class="fw-bold text fs-2 text"style="color:#11A87B">Subtotal</h6>
      <div class="fw-bold text fs-2"><%= number_to_currency(@shopping_cart.total_price) %></div> 
      <button class="btn btn-dark pagar"><%= link_to "Ir a pagar", checkout_shopping_cart_path, method: :post, class:"text-light text-decoration-none" %>
    </button>
    </div>

   

  </div>
</section>

<style>

  .pagar {
     padding-left: 4rem;
    padding-right: 4rem;
  }
  
  .pagar:hover{
    transform: scale(1.05);
    transition: 0.3s;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color:#11A87B;
  }

</style>