<section>
  <div class="p-4 m-4">
    <h2 class="fw-bold fs-1"><%= t('order.your_order')%></h2>
    <div class="d-flex flex-column">
      <div class="accordion" id="accordionExample">
        <% @current_cart.line_items.group_by{ |item| item.food.store }.each do |store, items| %>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading<%= store.id %>">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= store.id %>" aria-expanded="true" aria-controls="collapse<%= store.id %>">
                <%= store.name %>
              </button>
            </h2>
            <div id="collapse<%= store.id %>" class="accordion-collapse collapse show" aria-labelledby="heading<%= store.id %>" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <% items.each do |item| %>
                  <div class="text fs-4 d-flex "><%= item.food.name %> </div>
                  <div class="d-flex justify-content-between w-50">
                    <p class="text-secondary"><%= t('order.unit_price')%> </p>
                    <%= number_to_currency(item.food.price) %></div>
                  <div class="d-flex justify-content-between w-50">
                    <p class="text-secondary"><%= t('order.quantity') %> </p>
                    <%= item.quantity %></div>
                  <div class="fw-bold d-flex justify-content-between w-50" style="color:#F07167">
                    <p><%= t('order.subtotal') %> </p>
                    <%= number_to_currency(item.food.price * item.quantity) %></div>
                  <div style="margin-bottom:4rem">
                    <%= form_with(url: remove_food_from_shopping_cart_path(item.food.id, locale: I18n.locale), method: :post) do |form| %>
                      <%= form.number_field :quantity, value: 1, min: 1,style:"max-width:40px" %>
                      <%= form.submit t('food.remove'),class:"btn btn-dark btn-sm text-light" %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column flex-md-row justify-content-between w-75" style="margin-top:2rem">
        <h6 class="fw-bold text fs-2 text"style="color:#11A87B"><%=t('order.total')%></h6>
        <div class="fw-bold text fs-2"><%= number_to_currency(@current_cart.total_price) %></div>
        <button class="btn btn-dark pagar"><%= link_to t('order.pay'), checkout_shopping_cart_path, method: :post, class:"text-light text-decoration-none" %>
        </button>
      </div>
    </div>
  </div>
</section>
<style>
  .pagar {
     padding-left: 4rem;
    padding-right: 4rem;
  }

  .pagar:hover{
    transform: scale(1.05);
    transition: 0.3s;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color:#11A87B;
  }
</style>
