<div class="bd-highlight d-flex flex-row flex-wrap p-4" id="landing-rectangle-body">

        <div class="dropdown-center p-1">
          <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#F07167">
            <%= t('store.sort_by')%>
          </button>
          <ul class="dropdown-menu ">
            <li class="dropdown-item">
              <% if params[:search].present? || params[:category_id].present? || params[:near].present? || params[:ratings].present?%>
                <% if params[:near].present? %>
                  <%= link_to t('store.score'),request.original_url.gsub("near=true", "ratings=true"), class: "dropdown-item"%>
                <% elsif params[:ratings].present? %> <%# si ya tiene el param rating, devuelve lo mismo%>
                  <%= link_to t('store.score'),request.original_url, class: "dropdown-item"%>
                <%else%><%# si NO  tiene el param rating, lo agrega%>
                  <%= link_to t('store.score'), request.original_url + "&ratings=true", class: "dropdown-item"%>    
                <%end%>
              <%else %>
                <%= link_to t('store.score'), request.original_url + "?ratings=true", class: "dropdown-item" %>
              <%end%>
            </li> 
            <li class="dropdown-item">
              <% if params[:search].present? || params[:category_id].present? || params[:near].present? || params[:ratings].present?%>
                  <% if params[:ratings].present? %>
                    <%= link_to t('store.nearest'),request.original_url.gsub("ratings=true", "near=true"), class: "dropdown-item"%>
                  <% elsif params[:near].present? %>
                    <%= link_to t('store.nearest'),request.original_url, class: "dropdown-item"%>
                  <%else%>
                    <%= link_to t('store.nearest'), request.original_url + "&near=true" , class: "dropdown-item"  %>
                  <%end%>
              <%else %>
                <%= link_to t('store.nearest'), request.original_url + "?near=true" , class: "dropdown-item"%>
              <%end%>  
            </li>
          </ul>
        </div>
     
      <div class="dropdown-center p-1">
        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#F07167">
          <%= t('store.filter_by')%>
        </button>
        <ul class="dropdown-menu">
          <li><h6 class="dropdown-header"><%= t('store.categories') %></h6></li>
        <% @categories.each do |category| %>
          <li><% if params[:search].present? || params[:ratings].present? || params[:near].present?%>
                <%if params[:category_id].present? %> <%#si tiene param de categoria lo reemplza%>
                  <li><%= link_to category.name ,request.original_url.gsub("=#{params[:category_id]}", "=#{category.id}"), class: "dropdown-item"%></a> 
                <%else%> <%#si no tiene param de categoria lo agrega%>
                  <li><%= link_to category.name ,request.original_url + "&category_id=#{category.id}" , class: "dropdown-item" %></a>
                <%end%>
            <%else%>
              <li><%= link_to category.name , "stores?category_id=#{category.id}" , class: "dropdown-item"%></a>
            <%end%></li>
        <%end%>
        </ul>
      </div>

      
    </div>
    <% if params[:search].present? || params[:category_id].present? || params[:near].present? || params[:ratings].present?%>
        <button class="btn btn-outline-light" type="button" style="background-color:#F07167 ; margin-left:30px">
          <%= link_to t('store.clear_filters') , stores_path, class: "text-decoration-none text-white"%> <i class="bi bi-x"></i>

        </button>
    <%end%>

    <%= render 'store' %>

<style >
  
  .filtro{
    background-color: ;
  }
</style>
