<h1>Confirmación de orden</h1>
<p>Tu orden ha sido confirmada.</p>
<h2>Resumen de orden</h2>
<table>
  <thead>
    <tr>
      <th>Comida</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.food.name %></td>
        <td><%= number_to_currency(item.food.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.food.price * item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td><%= number_to_currency(@order.line_items.to_a.sum { |item| item.food.price * item.quantity }) %></td>
    </tr>
    <%# call post payment and pass @order.id params %>
    <td>
      <%= form_tag order_payment_path(@order), method: :post do %>
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_51Mf4CQAgLOp41ZUXhVjso9M7VyTo5wzjgtHZCvhbg11LgHdp6q9slB7mSfQJeIZdo4GUzEG1kH8M2SLb1DIHRWYE00AHMn1EpL"
          data-amount="<%= @order.line_items.to_a.sum { |item| item.food.price * item.quantity } %>"
          data-name="Yendo!"
          data-description="Food Order"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-locale="auto"
          data-currency="usd"></script>
      <% end %>
    </tfoot>
  </table>
