<h1>Confirmación de orden</h1>
<h3>Resumen de orden</h3>
<table>
  <thead>
    <tr>
      <th>Comida</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Subtotal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @order.line_items.each do |item| %>
        <td><%= item.food.name %></td>
        <td><%= number_to_currency(item.food.price) %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.food.price * item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td><%= number_to_currency(@order.line_items.to_a.sum { |item| item.food.price * item.quantity }) %></td>
    </tr>
    <%# call post payment and pass @order.id params %>
    <tr>
      <td colspan="4">
        <%= form_tag order_payment_path(@order), method: :post do %>
          <%= hidden_field_tag :order_id, @order.id %>
          <%= submit_tag "Pagar con Stripe", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  </tfoot>
</table>
