<style>

  .mercadopago-button {
    /*dont craete newline*/
  white-space: nowrap;
  /* make font more thicker */
  font-weight: 600;
  }

  .size_button {
    width:218px;
    height:37px;
  }

</style>

<section class="p-4">

  <h2 class="fw-bold">Confirmá tu pedido</h1>
  <h4 class="fw-semibold">Resumen de orden</h3>

  <div>
    <div class="">
      <% @order.line_items.each do |item| %>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-between align-items-center"> 
            <p><%= item.food.name %> </p>   
            <p class="fw-semibold"><%= number_to_currency(item.food.price) %></p>   
            <p>x<%= item.quantity %></p>   
            <p class="fw-bold fs-5"><%= number_to_currency(item.food.price * item.quantity) %></p>   
          </div>    
        </div>
      <% end %> 
      <div class="d-flex justify-content-between">
        <p>Envío (promocion):</p> 
        <p class="fw-bold fs-5"> $0</p>
      </div>`
    </div>
  </div>

  <div class="bg-light p-2">
    <div class="d-flex justify-content-between">
      <h6 class="fw-bold fs-2" >Total</h6> 
      <div class="fw-bold fs-2"><%= number_to_currency(@order.line_items.to_a.sum { |item| item.food.price * item.quantity }) %></div>
    </div>      
    <p>Elegí tu método de pago</p>
    <div class="form-check" >
      <div class="m-2">  
        <%= form_tag order_payment_path(@order), method: :post do %>
          <%= hidden_field_tag :order_id, @order.id %>
          <%= submit_tag "Pagar con Stripe", class: "btn btn-primary btn-block size_button" %>
        <% end %>   
      </div>  <%# call post payment and pass @order.id params %>
                  
      <div class="checkout-btn m-2"></div>
          
      <div class="m-2">
        <button class="btn btn-primary btn-block size_button">
          <%= link_to "Pagar con efectivo", success_path , class:"nav-link active"%>
        </button>
      </div>
    </div>
  </div>

  <script src="https://sdk.mercadopago.com/js/v2"></script>
  <script>
    const mp = new MercadoPago('TEST-21a4a1ad-cddb-4363-9e9f-1a4c4ecc5d20', {
        locale: 'es-AR'
    })
    const checkout = mp.checkout({
        preference: {
            id: '<%= @preference_id %>'

        }

    });
    checkout.render({
        container: '.checkout-btn',
        label: 'Pagar con Mercado Pago',
        class: 'btn btn-primary size_button',
    });
  </script>  
</section>
