<div class="align-self-center flex-grow-1 d-flex flex-column align-items-center">
  <%= render 'map' %>
  <br/>
  <div class="align-self-center flex-grow-1 flex-row align-items-center">
    <%= form_with url: locations_path, method: :get do |form| %>
      <div>
        <p> Escriba nombre completo de la calle</p>
      </div>
      <%= form.text_field :place , value: params[:place], class:'form-control', placeholder:'ej Av. Cabildo 4500'%>
      <br/>
      <%= form.submit 'Buscar', class: 'btn btn-light' %>
    <% end %>
    <%= form_with url: locations_path, method: :post do |form| %>
      <%= form.hidden_field :place_ , value: params[:place]%>
      <%= form.hidden_field :place_latitude , value: @latitude%>
      <%= form.hidden_field :place_longitude, value: @longitude%>
      <%= form.button 'Guardar', name: "saveplace",  class: 'btn btn-light' %>
    <% end %>
  </div>
</div>
